node_modules
.env
public/images/postupload/
public/images/postupload/f24c475dc2c5c53fe7703833.mp4
public/images/postupload/915f8b2fc4f15c8d81302e2f.mp4
public/images/postupload/a5943b12694148c4166d076a.mp4
uploads